openapi: 3.0.1
info:
  title: SnelStart B2B-Api v2
  version: '1.0'
servers:
  - url: https://b2bapi.snelstart.nl/v2
paths:
  /artikelen:
    post:
      tags:
        - artikelen
      summary: /v2/artikelen (POST)
      description: "Maakt een nieuw artikel aan. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:write"
      operationId: v2-artikelen-POST
      requestBody:
        description: De nieuw aan te maken <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
            example:
              artikelcode: string
              omschrijving: string
              artikelOmzetgroep:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              verkoopprijs: 0
              inkoopprijs: 0
              eenheid: string
              modifiedOn: string
              relatie:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              isNonActief: true
              voorraadControle: true
              technischeVoorraad: 0
              vrijeVoorraad: 0
              extraVelden:
                - naam: string
                  waarde: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
            example:
              artikelcode: string
              omschrijving: string
              artikelOmzetgroep:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              verkoopprijs: 0
              inkoopprijs: 0
              eenheid: string
              modifiedOn: string
              relatie:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              isNonActief: true
              voorraadControle: true
              technischeVoorraad: 0
              vrijeVoorraad: 0
              extraVelden:
                - naam: string
                  waarde: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '201':
          description: HTTP 201 Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
              example:
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
              example:
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    get:
      tags:
        - artikelen
      summary: /v2/artikelen (GET) (OData)
      description: "Geeft alle beschikbare artikelen (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel\">ArtikelModel</a>) terug uit een administratie. \r\nOp deze operatie is OData functionaliteit beschikbaar.\r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:read"
      operationId: v2-artikelen-GET-OData
      parameters:
        - name: relatieId
          in: query
          description: 'De (optionele) identifier van de relatie, waarvoor de prijsafspraak aan het op te halen artikel moet worden toegevoegd.'
          schema:
            type: string
            format: uuid
        - name: aantal
          in: query
          description: 'Het (optioneel meegegeven) aantal van het artikel, waarvoor de prijsafspraak aan het op te halen artikel moet worden bepaald.'
          schema:
            type: integer
            format: int32
        - name: $skip
          in: query
          description: Het aantal resultaten dat overgeslagen wordt.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: $top
          in: query
          description: Het maximum aantal resultaten.
          schema:
            maximum: 25
            minimum: 1
            type: integer
            format: int32
            default: 500
        - name: $filter
          in: query
          description: 'OData filter, zie http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_SystemQueryOptionfilter'
          schema:
            type: string
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Artikelen-ArtikelQueryModelArray'
              example:
                - isHoofdartikel: true
                  subartikelen:
                    - artikelcode: string
                      aantal: 0
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                  artikelcode: string
                  omschrijving: string
                  artikelOmzetgroep:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  verkoopprijs: 0
                  inkoopprijs: 0
                  eenheid: string
                  modifiedOn: string
                  relatie:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  isNonActief: true
                  voorraadControle: true
                  technischeVoorraad: 0
                  vrijeVoorraad: 0
                  extraVelden:
                    - naam: string
                      waarde: string
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Artikelen-ArtikelQueryModelArray-1'
              example:
                - isHoofdartikel: true
                  subartikelen:
                    - artikelcode: string
                      aantal: 0
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                  artikelcode: string
                  omschrijving: string
                  artikelOmzetgroep:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  verkoopprijs: 0
                  inkoopprijs: 0
                  eenheid: string
                  modifiedOn: string
                  relatie:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  isNonActief: true
                  voorraadControle: true
                  technischeVoorraad: 0
                  vrijeVoorraad: 0
                  extraVelden:
                    - naam: string
                      waarde: string
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/artikelen/{id}':
    get:
      tags:
        - artikelen
      summary: '/v2/artikelen/{id} (GET)'
      description: "Geeft een artikel terug op basis van zijn {id} en de (optioneel) opgegeven relatie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:read"
      operationId: v2-artikelen-id-GET
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a> van het op te halen artikel.
          required: true
          schema:
            type: string
            format: uuid
        - name: relatieId
          in: query
          description: 'De (optionele) identifier van de relatie, waarvoor de prijsafspraak aan het op te halen artikel moet worden toegevoegd.'
          schema:
            type: string
            format: uuid
        - name: aantal
          in: query
          description: 'Het (optioneel meegegeven) aantal van het artikel, waarvoor de prijsafspraak aan het op te halen artikel moet worden bepaald.'
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelQueryModel'
              example:
                isHoofdartikel: true
                subartikelen:
                  - artikelcode: string
                    aantal: 0
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelQueryModel'
              example:
                isHoofdartikel: true
                subartikelen:
                  - artikelcode: string
                    aantal: 0
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} of {relatieId} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    put:
      tags:
        - artikelen
      summary: '/v2/artikelen/{id} (PUT)'
      description: "Werkt een bestaand artikel bij. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:write"
      operationId: v2-artikelen-id-PUT
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a> van het te wijziging artikel.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: De bij te werken <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
            example:
              artikelcode: string
              omschrijving: string
              artikelOmzetgroep:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              verkoopprijs: 0
              inkoopprijs: 0
              eenheid: string
              modifiedOn: string
              relatie:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              isNonActief: true
              voorraadControle: true
              technischeVoorraad: 0
              vrijeVoorraad: 0
              extraVelden:
                - naam: string
                  waarde: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
            example:
              artikelcode: string
              omschrijving: string
              artikelOmzetgroep:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              verkoopprijs: 0
              inkoopprijs: 0
              eenheid: string
              modifiedOn: string
              relatie:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              isNonActief: true
              voorraadControle: true
              technischeVoorraad: 0
              vrijeVoorraad: 0
              extraVelden:
                - naam: string
                  waarde: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
              example:
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel'
              example:
                artikelcode: string
                omschrijving: string
                artikelOmzetgroep:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopprijs: 0
                inkoopprijs: 0
                eenheid: string
                modifiedOn: string
                relatie:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                isNonActief: true
                voorraadControle: true
                technischeVoorraad: 0
                vrijeVoorraad: 0
                extraVelden:
                  - naam: string
                    waarde: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    delete:
      tags:
        - artikelen
      summary: '/v2/artikelen/{id} (DELETE)'
      description: "Verwijdert een actief artikel op basis van zijn {id}. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:write"
      operationId: v2-artikelen-id-DELETE
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a> van het te verwijderen artikel.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtikelenIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtikelenIdDelete200TextJsonResponse'
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/artikelen/{id}/customFields':
    get:
      tags:
        - artikelen
      summary: '/v2/artikelen/{id}/customFields (GET)'
      description: "Geeft alle beschikbare extra velden (<a href=\"#model-SnelStart.B2B.Api.V2.Models.CustomFields.CustomFieldModel\">CustomFieldModel</a>) voor een artikel. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:read"
      operationId: v2-artikelen-id-customFields-GET
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> van een <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a>
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-Business-Interfaces-CustomFields-CustomFieldDtoArray'
              example:
                - definition:
                    name: string
                    type: Integer
                    properties:
                      - name: string
                        value: { }
                    yPosition: 0
                    xPosition: 0
                  value: { }
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-Business-Interfaces-CustomFields-CustomFieldDtoArray-1'
              example:
                - definition:
                    name: string
                    type: Integer
                    properties:
                      - name: string
                        value: { }
                    yPosition: 0
                    xPosition: 0
                  value: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaand {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    put:
      tags:
        - artikelen
      summary: '/v2/artikelen/{id}/customFields (PUT)'
      description: "Werkt de extra velden van een bestaande relatie bij. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:write"
      operationId: v2-artikelen-id-customFields-PUT
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelModel">ArtikelModel</a> waarvan de extra velden worden bijgewerkt.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: De bij te werken extra velden <a href="#model-SnelStart.B2B.Api.V2.Models.CustomFields.UpdatedCustomFieldModel">UpdatedCustomFieldModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-CustomFields-UpdatedCustomFieldModelArray'
            example:
              - name: string
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-CustomFields-UpdatedCustomFieldModelArray'
            example:
              - name: string
                value: { }
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-Business-Interfaces-CustomFields-CustomFieldDtoArray-2'
              example:
                - definition:
                    name: string
                    type: Integer
                    properties:
                      - name: string
                        value: { }
                    yPosition: 0
                    xPosition: 0
                  value: { }
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-Business-Interfaces-CustomFields-CustomFieldDtoArray-3'
              example:
                - definition:
                    name: string
                    type: Integer
                    properties:
                      - name: string
                        value: { }
                    yPosition: 0
                    xPosition: 0
                  value: { }
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaand {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  /artikelomzetgroepen:
    get:
      tags:
        - artikelomzetgroepen
      summary: /v2/artikelomzetgroepen (GET)
      description: "Geeft alle beschikbare artikel omzet groepen (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelOmzetGroepModel\">ArtikelOmzetGroepModel</a>) terug uit een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:read"
      operationId: v2-artikelomzetgroepen-GET
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Artikelen-ArtikelOmzetGroepModelArray'
              example:
                - nummer: 0
                  omschrijving: string
                  verkoopGrootboekNederlandIdentifier:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  verkoopNederlandBtwSoort: Geen
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Artikelen-ArtikelOmzetGroepModelArray-1'
              example:
                - nummer: 0
                  omschrijving: string
                  verkoopGrootboekNederlandIdentifier:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  verkoopNederlandBtwSoort: Geen
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/artikelomzetgroepen/{id}':
    get:
      tags:
        - artikelomzetgroepen
      summary: '/v2/artikelomzetgroepen/{id} (GET)'
      description: "Geeft een artikel omzet groep terug op basis van zijn {id}. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- artikelen:read"
      operationId: v2-artikelomzetgroepen-id-GET
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelOmzetGroepModel">ArtikelOmzetGroepModel</a> van de het te halen artikel omzet groep.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelOmzetGroepModel'
              example:
                nummer: 0
                omschrijving: string
                verkoopGrootboekNederlandIdentifier:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopNederlandBtwSoort: Geen
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Artikelen.ArtikelOmzetGroepModel'
              example:
                nummer: 0
                omschrijving: string
                verkoopGrootboekNederlandIdentifier:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                verkoopNederlandBtwSoort: Geen
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  /bankafschriftbestanden:
    post:
      tags:
        - bankafschriftbestanden
      summary: /v2/bankafschriftbestanden (POST)
      description: " \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:write"
      operationId: v2-bankafschriftbestanden-POST
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-BankafschriftBestandArray'
            example:
              - name: string
                base64EncodedContent: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-BankafschriftBestandArray'
            example:
              - name: string
                base64EncodedContent: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-BankafschriftBestandResponseArray'
              example:
                - name: string
                  errors:
                    - description: string
                      details:
                        - string
                  isSuccess: true
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-BankafschriftBestandResponseArray-1'
              example:
                - name: string
                  errors:
                    - description: string
                      details:
                        - string
                  isSuccess: true
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/bankboekingen/{id}':
    get:
      tags:
        - bankboekingen
      summary: '/v2/bankboekingen/{id} (GET)'
      description: "Geeft een Bankboeking terug op basis van zijn {id}. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:read"
      operationId: v2-bankboekingen-id-GET
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel">BankboekingModel</a> van de op te halen Bankboeking.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    put:
      tags:
        - bankboekingen
      summary: '/v2/bankboekingen/{id} (PUT)'
      description: "Werkt een bestaande bankboeking bij. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:write"
      operationId: v2-bankboekingen-id-PUT
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel">BankboekingModel</a> van de te wijziging kostenplaats.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: De bij te werken <a href="#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel">BankboekingModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
            example:
              modifiedOn: string
              datum: string
              markering: true
              boekstuk: string
              gewijzigdDoorAccountant: true
              omschrijving: string
              grootboekBoekingsRegels:
                - omschrijving: string
                  grootboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  kostenplaats:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  debet: 0
                  credit: 0
                  btwSoort: Geen
              inkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              verkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              btwBoekingsregels:
                - debet: 0
                  credit: 0
                  type: TeVorderenBtwType
                  tarief: Hoog
              bedragUitgegeven: 0
              bedragOntvangen: 0
              dagboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
            example:
              modifiedOn: string
              datum: string
              markering: true
              boekstuk: string
              gewijzigdDoorAccountant: true
              omschrijving: string
              grootboekBoekingsRegels:
                - omschrijving: string
                  grootboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  kostenplaats:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  debet: 0
                  credit: 0
                  btwSoort: Geen
              inkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              verkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              btwBoekingsregels:
                - debet: 0
                  credit: 0
                  type: TeVorderenBtwType
                  tarief: Hoog
              bedragUitgegeven: 0
              bedragOntvangen: 0
              dagboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    delete:
      tags:
        - bankboekingen
      summary: '/v2/bankboekingen/{id} (DELETE)'
      description: "Verwijdert een actieve Bankboeking op basis van zijn {id}. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:write"
      operationId: v2-bankboekingen-id-DELETE
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel">BankboekingModel</a> van de te verwijderen Bankboeking.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankboekingenIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BankboekingenIdDelete200TextJsonResponse'
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  /bankboekingen:
    post:
      tags:
        - bankboekingen
      summary: /v2/bankboekingen (POST)
      description: "Maakt een nieuwe Bankboeking aan. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:write"
      operationId: v2-bankboekingen-POST
      requestBody:
        description: De nieuw aan te maken <a href="#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel">BankboekingModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
            example:
              modifiedOn: string
              datum: string
              markering: true
              boekstuk: string
              gewijzigdDoorAccountant: true
              omschrijving: string
              grootboekBoekingsRegels:
                - omschrijving: string
                  grootboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  kostenplaats:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  debet: 0
                  credit: 0
                  btwSoort: Geen
              inkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              verkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              btwBoekingsregels:
                - debet: 0
                  credit: 0
                  type: TeVorderenBtwType
                  tarief: Hoog
              bedragUitgegeven: 0
              bedragOntvangen: 0
              dagboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
            example:
              modifiedOn: string
              datum: string
              markering: true
              boekstuk: string
              gewijzigdDoorAccountant: true
              omschrijving: string
              grootboekBoekingsRegels:
                - omschrijving: string
                  grootboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  kostenplaats:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  debet: 0
                  credit: 0
                  btwSoort: Geen
              inkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              verkoopboekingBoekingsRegels:
                - boekingId:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  omschrijving: string
                  debet: 0
                  credit: 0
              btwBoekingsregels:
                - debet: 0
                  credit: 0
                  type: TeVorderenBtwType
                  tarief: Hoog
              bedragUitgegeven: 0
              bedragOntvangen: 0
              dagboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '201':
          description: HTTP 201 Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel'
              example:
                modifiedOn: string
                datum: string
                markering: true
                boekstuk: string
                gewijzigdDoorAccountant: true
                omschrijving: string
                grootboekBoekingsRegels:
                  - omschrijving: string
                    grootboek:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    kostenplaats:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    debet: 0
                    credit: 0
                    btwSoort: Geen
                inkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                verkoopboekingBoekingsRegels:
                  - boekingId:
                      id: 00000000-0000-0000-0000-000000000000
                      uri: string
                    omschrijving: string
                    debet: 0
                    credit: 0
                btwBoekingsregels:
                  - debet: 0
                    credit: 0
                    type: TeVorderenBtwType
                    tarief: Hoog
                bedragUitgegeven: 0
                bedragOntvangen: 0
                dagboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    get:
      tags:
        - bankboekingen
      summary: /v2/bankboekingen (GET) (OData)
      description: "Geeft alle beschikbare bankboekinen (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Bankboekingen.BankboekingModel\">BankboekingModel</a>) terug uit een administratie. \r\nOp deze operatie is OData functionaliteit beschikbaar.\r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- bankieren:read"
      operationId: v2-bankboekingen-GET-OData
      parameters:
        - name: $skip
          in: query
          description: Het aantal resultaten dat overgeslagen wordt.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: $top
          in: query
          description: Het maximum aantal resultaten.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            default: 500
        - name: $filter
          in: query
          description: 'OData filter, zie http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_SystemQueryOptionfilter'
          schema:
            type: string
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Bankboekingen-BankboekingModelArray'
              example:
                - modifiedOn: string
                  datum: string
                  markering: true
                  boekstuk: string
                  gewijzigdDoorAccountant: true
                  omschrijving: string
                  grootboekBoekingsRegels:
                    - omschrijving: string
                      grootboek:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      kostenplaats:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      debet: 0
                      credit: 0
                      btwSoort: Geen
                  inkoopboekingBoekingsRegels:
                    - boekingId:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      omschrijving: string
                      debet: 0
                      credit: 0
                  verkoopboekingBoekingsRegels:
                    - boekingId:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      omschrijving: string
                      debet: 0
                      credit: 0
                  btwBoekingsregels:
                    - debet: 0
                      credit: 0
                      type: TeVorderenBtwType
                      tarief: Hoog
                  bedragUitgegeven: 0
                  bedragOntvangen: 0
                  dagboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Bankboekingen-BankboekingModelArray-1'
              example:
                - modifiedOn: string
                  datum: string
                  markering: true
                  boekstuk: string
                  gewijzigdDoorAccountant: true
                  omschrijving: string
                  grootboekBoekingsRegels:
                    - omschrijving: string
                      grootboek:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      kostenplaats:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      debet: 0
                      credit: 0
                      btwSoort: Geen
                  inkoopboekingBoekingsRegels:
                    - boekingId:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      omschrijving: string
                      debet: 0
                      credit: 0
                  verkoopboekingBoekingsRegels:
                    - boekingId:
                        id: 00000000-0000-0000-0000-000000000000
                        uri: string
                      omschrijving: string
                      debet: 0
                      credit: 0
                  btwBoekingsregels:
                    - debet: 0
                      credit: 0
                      type: TeVorderenBtwType
                      tarief: Hoog
                  bedragUitgegeven: 0
                  bedragOntvangen: 0
                  dagboek:
                    id: 00000000-0000-0000-0000-000000000000
                    uri: string
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  /companyInfo:
    get:
      tags:
        - companyInfo
      summary: /v2/companyInfo (GET)
      description: "Geeft bedrijfsinformatie (<a href=\"#model-SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel\">CompanyInfoModel</a>) terug voor een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- settings:read"
      operationId: v2-companyInfo-GET
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
              example:
                administratieIdentifier: 00000000-0000-0000-0000-000000000000
                administratieNaam: string
                bedrijfsnaam: string
                contactpersoon: string
                adres: string
                postcode: string
                plaats: string
                telefoon: string
                mobieleTelefoon: string
                fax: string
                bankrekeningnummer: string
                iban: string
                bic: string
                rechtsvorm: NotSet
                btwNummer: string
                btwIdentificatieNummer: string
                kvKNummer: string
                email: string
                website: string
                vrijeTekst1: string
                vrijeTekst2: string
                vrijeTekst3: string
                vrijeTekst4: string
                huidigBoekjaar: 0
                beginmaandFiscaleBoekjaar: 0
                btwAangiftePeriodeSoort: Maand
                icpAangiftePeriodeSoort: Maand
                btwNummerFiscaleEenheid: string
                tussentijdseSuppletiesBerekenen: true
                mapUBLBestanden: string
                btwPercentageAangifteKredietbeperking: 0
                markeergedragInlezenBankafschriften: AlleenBelangrijkste
                voorkeurenTijdensBoeken: true
                aantalVoorloopnullenGrootboekrekeningen: 0
                kleineOndernemersregeling:
                  isKleineOndernemersRegelingActief: true
                  maximaalBedragVolledigeVerrekening: 0
                  maximaalBedragKleineOndernemersRegeling: 0
                volgendFactuurnummer: 0
                volgendVerkoopordernummer: 0
                volgendContantbonnummer: 0
                volgendInkoopordernummer: 0
                voorraadcontroleOrderinvoer: true
                abonnementOvernemen: true
                kolomGeleverdAutomatischVullen: true
                voorraadkolommenTonenInInkoop: true
                backorderGebruiken: true
                deelleveringOrdersDefaultAan: true
                factuurAlsBijlageVerkoopboeking: true
                tekstregelsOvernemenNaarBackorder: Geen
                regelkortingVerkooporder: BerekenenOverRegelBedrag
                drempelbedragVerkooporderbeheer: 0
                drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
                verkoopprijsArtikelbestandExclusiefBtw: true
                inkoopprijsArtikelbestandExclusiefBtw: true
                artikelcodeSoort: Numeriek
                artikelcodeMaxLengte: 0
                begindatumVoorraadtelling: string
                voorraadTonenInZoekvenster: true
                aantalDecimalenArtikelprijzen: 0
                aantalDecimalenArtikelaantallen: 0
                verkooporderVoorraadVanafNiveau: Alle
                voorraadSysteem: Fifo
                momentVoorraadBijwerken: BijBoekenOntvangst
                rekeningTeOntvangenInkoopfacturen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                dagboekVoorraadverschillen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                buitenlandseBtwGrootboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                factureerBuitenlandsBtw: true
                factureerBuitenlandsBtwRanges:
                  - from: 0
                    to: 0
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
              example:
                administratieIdentifier: 00000000-0000-0000-0000-000000000000
                administratieNaam: string
                bedrijfsnaam: string
                contactpersoon: string
                adres: string
                postcode: string
                plaats: string
                telefoon: string
                mobieleTelefoon: string
                fax: string
                bankrekeningnummer: string
                iban: string
                bic: string
                rechtsvorm: NotSet
                btwNummer: string
                btwIdentificatieNummer: string
                kvKNummer: string
                email: string
                website: string
                vrijeTekst1: string
                vrijeTekst2: string
                vrijeTekst3: string
                vrijeTekst4: string
                huidigBoekjaar: 0
                beginmaandFiscaleBoekjaar: 0
                btwAangiftePeriodeSoort: Maand
                icpAangiftePeriodeSoort: Maand
                btwNummerFiscaleEenheid: string
                tussentijdseSuppletiesBerekenen: true
                mapUBLBestanden: string
                btwPercentageAangifteKredietbeperking: 0
                markeergedragInlezenBankafschriften: AlleenBelangrijkste
                voorkeurenTijdensBoeken: true
                aantalVoorloopnullenGrootboekrekeningen: 0
                kleineOndernemersregeling:
                  isKleineOndernemersRegelingActief: true
                  maximaalBedragVolledigeVerrekening: 0
                  maximaalBedragKleineOndernemersRegeling: 0
                volgendFactuurnummer: 0
                volgendVerkoopordernummer: 0
                volgendContantbonnummer: 0
                volgendInkoopordernummer: 0
                voorraadcontroleOrderinvoer: true
                abonnementOvernemen: true
                kolomGeleverdAutomatischVullen: true
                voorraadkolommenTonenInInkoop: true
                backorderGebruiken: true
                deelleveringOrdersDefaultAan: true
                factuurAlsBijlageVerkoopboeking: true
                tekstregelsOvernemenNaarBackorder: Geen
                regelkortingVerkooporder: BerekenenOverRegelBedrag
                drempelbedragVerkooporderbeheer: 0
                drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
                verkoopprijsArtikelbestandExclusiefBtw: true
                inkoopprijsArtikelbestandExclusiefBtw: true
                artikelcodeSoort: Numeriek
                artikelcodeMaxLengte: 0
                begindatumVoorraadtelling: string
                voorraadTonenInZoekvenster: true
                aantalDecimalenArtikelprijzen: 0
                aantalDecimalenArtikelaantallen: 0
                verkooporderVoorraadVanafNiveau: Alle
                voorraadSysteem: Fifo
                momentVoorraadBijwerken: BijBoekenOntvangst
                rekeningTeOntvangenInkoopfacturen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                dagboekVoorraadverschillen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                buitenlandseBtwGrootboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                factureerBuitenlandsBtw: true
                factureerBuitenlandsBtwRanges:
                  - from: 0
                    to: 0
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    put:
      tags:
        - companyInfo
      summary: /v2/companyInfo (PUT)
      description: "Updates bedrijfsinformatie (<a href=\"#model-SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel\">CompanyInfoModel</a>) van een administratie.\r\n            \r\nOp dit moment wordt alleen het updaten van de setting FactureerBuitenlandsBtw ondersteund \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- settings:write"
      operationId: v2-companyInfo-PUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
            example:
              administratieIdentifier: 00000000-0000-0000-0000-000000000000
              administratieNaam: string
              bedrijfsnaam: string
              contactpersoon: string
              adres: string
              postcode: string
              plaats: string
              telefoon: string
              mobieleTelefoon: string
              fax: string
              bankrekeningnummer: string
              iban: string
              bic: string
              rechtsvorm: NotSet
              btwNummer: string
              btwIdentificatieNummer: string
              kvKNummer: string
              email: string
              website: string
              vrijeTekst1: string
              vrijeTekst2: string
              vrijeTekst3: string
              vrijeTekst4: string
              huidigBoekjaar: 0
              beginmaandFiscaleBoekjaar: 0
              btwAangiftePeriodeSoort: Maand
              icpAangiftePeriodeSoort: Maand
              btwNummerFiscaleEenheid: string
              tussentijdseSuppletiesBerekenen: true
              mapUBLBestanden: string
              btwPercentageAangifteKredietbeperking: 0
              markeergedragInlezenBankafschriften: AlleenBelangrijkste
              voorkeurenTijdensBoeken: true
              aantalVoorloopnullenGrootboekrekeningen: 0
              kleineOndernemersregeling:
                isKleineOndernemersRegelingActief: true
                maximaalBedragVolledigeVerrekening: 0
                maximaalBedragKleineOndernemersRegeling: 0
              volgendFactuurnummer: 0
              volgendVerkoopordernummer: 0
              volgendContantbonnummer: 0
              volgendInkoopordernummer: 0
              voorraadcontroleOrderinvoer: true
              abonnementOvernemen: true
              kolomGeleverdAutomatischVullen: true
              voorraadkolommenTonenInInkoop: true
              backorderGebruiken: true
              deelleveringOrdersDefaultAan: true
              factuurAlsBijlageVerkoopboeking: true
              tekstregelsOvernemenNaarBackorder: Geen
              regelkortingVerkooporder: BerekenenOverRegelBedrag
              drempelbedragVerkooporderbeheer: 0
              drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
              verkoopprijsArtikelbestandExclusiefBtw: true
              inkoopprijsArtikelbestandExclusiefBtw: true
              artikelcodeSoort: Numeriek
              artikelcodeMaxLengte: 0
              begindatumVoorraadtelling: string
              voorraadTonenInZoekvenster: true
              aantalDecimalenArtikelprijzen: 0
              aantalDecimalenArtikelaantallen: 0
              verkooporderVoorraadVanafNiveau: Alle
              voorraadSysteem: Fifo
              momentVoorraadBijwerken: BijBoekenOntvangst
              rekeningTeOntvangenInkoopfacturen:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              dagboekVoorraadverschillen:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              buitenlandseBtwGrootboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              factureerBuitenlandsBtw: true
              factureerBuitenlandsBtwRanges:
                - from: 0
                  to: 0
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
            example:
              administratieIdentifier: 00000000-0000-0000-0000-000000000000
              administratieNaam: string
              bedrijfsnaam: string
              contactpersoon: string
              adres: string
              postcode: string
              plaats: string
              telefoon: string
              mobieleTelefoon: string
              fax: string
              bankrekeningnummer: string
              iban: string
              bic: string
              rechtsvorm: NotSet
              btwNummer: string
              btwIdentificatieNummer: string
              kvKNummer: string
              email: string
              website: string
              vrijeTekst1: string
              vrijeTekst2: string
              vrijeTekst3: string
              vrijeTekst4: string
              huidigBoekjaar: 0
              beginmaandFiscaleBoekjaar: 0
              btwAangiftePeriodeSoort: Maand
              icpAangiftePeriodeSoort: Maand
              btwNummerFiscaleEenheid: string
              tussentijdseSuppletiesBerekenen: true
              mapUBLBestanden: string
              btwPercentageAangifteKredietbeperking: 0
              markeergedragInlezenBankafschriften: AlleenBelangrijkste
              voorkeurenTijdensBoeken: true
              aantalVoorloopnullenGrootboekrekeningen: 0
              kleineOndernemersregeling:
                isKleineOndernemersRegelingActief: true
                maximaalBedragVolledigeVerrekening: 0
                maximaalBedragKleineOndernemersRegeling: 0
              volgendFactuurnummer: 0
              volgendVerkoopordernummer: 0
              volgendContantbonnummer: 0
              volgendInkoopordernummer: 0
              voorraadcontroleOrderinvoer: true
              abonnementOvernemen: true
              kolomGeleverdAutomatischVullen: true
              voorraadkolommenTonenInInkoop: true
              backorderGebruiken: true
              deelleveringOrdersDefaultAan: true
              factuurAlsBijlageVerkoopboeking: true
              tekstregelsOvernemenNaarBackorder: Geen
              regelkortingVerkooporder: BerekenenOverRegelBedrag
              drempelbedragVerkooporderbeheer: 0
              drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
              verkoopprijsArtikelbestandExclusiefBtw: true
              inkoopprijsArtikelbestandExclusiefBtw: true
              artikelcodeSoort: Numeriek
              artikelcodeMaxLengte: 0
              begindatumVoorraadtelling: string
              voorraadTonenInZoekvenster: true
              aantalDecimalenArtikelprijzen: 0
              aantalDecimalenArtikelaantallen: 0
              verkooporderVoorraadVanafNiveau: Alle
              voorraadSysteem: Fifo
              momentVoorraadBijwerken: BijBoekenOntvangst
              rekeningTeOntvangenInkoopfacturen:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              dagboekVoorraadverschillen:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              buitenlandseBtwGrootboek:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
              factureerBuitenlandsBtw: true
              factureerBuitenlandsBtwRanges:
                - from: 0
                  to: 0
          application/x-www-form-urlencoded: { }
      responses:
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
              example:
                administratieIdentifier: 00000000-0000-0000-0000-000000000000
                administratieNaam: string
                bedrijfsnaam: string
                contactpersoon: string
                adres: string
                postcode: string
                plaats: string
                telefoon: string
                mobieleTelefoon: string
                fax: string
                bankrekeningnummer: string
                iban: string
                bic: string
                rechtsvorm: NotSet
                btwNummer: string
                btwIdentificatieNummer: string
                kvKNummer: string
                email: string
                website: string
                vrijeTekst1: string
                vrijeTekst2: string
                vrijeTekst3: string
                vrijeTekst4: string
                huidigBoekjaar: 0
                beginmaandFiscaleBoekjaar: 0
                btwAangiftePeriodeSoort: Maand
                icpAangiftePeriodeSoort: Maand
                btwNummerFiscaleEenheid: string
                tussentijdseSuppletiesBerekenen: true
                mapUBLBestanden: string
                btwPercentageAangifteKredietbeperking: 0
                markeergedragInlezenBankafschriften: AlleenBelangrijkste
                voorkeurenTijdensBoeken: true
                aantalVoorloopnullenGrootboekrekeningen: 0
                kleineOndernemersregeling:
                  isKleineOndernemersRegelingActief: true
                  maximaalBedragVolledigeVerrekening: 0
                  maximaalBedragKleineOndernemersRegeling: 0
                volgendFactuurnummer: 0
                volgendVerkoopordernummer: 0
                volgendContantbonnummer: 0
                volgendInkoopordernummer: 0
                voorraadcontroleOrderinvoer: true
                abonnementOvernemen: true
                kolomGeleverdAutomatischVullen: true
                voorraadkolommenTonenInInkoop: true
                backorderGebruiken: true
                deelleveringOrdersDefaultAan: true
                factuurAlsBijlageVerkoopboeking: true
                tekstregelsOvernemenNaarBackorder: Geen
                regelkortingVerkooporder: BerekenenOverRegelBedrag
                drempelbedragVerkooporderbeheer: 0
                drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
                verkoopprijsArtikelbestandExclusiefBtw: true
                inkoopprijsArtikelbestandExclusiefBtw: true
                artikelcodeSoort: Numeriek
                artikelcodeMaxLengte: 0
                begindatumVoorraadtelling: string
                voorraadTonenInZoekvenster: true
                aantalDecimalenArtikelprijzen: 0
                aantalDecimalenArtikelaantallen: 0
                verkooporderVoorraadVanafNiveau: Alle
                voorraadSysteem: Fifo
                momentVoorraadBijwerken: BijBoekenOntvangst
                rekeningTeOntvangenInkoopfacturen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                dagboekVoorraadverschillen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                buitenlandseBtwGrootboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                factureerBuitenlandsBtw: true
                factureerBuitenlandsBtwRanges:
                  - from: 0
                    to: 0
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.CompanyInfo.CompanyInfoModel'
              example:
                administratieIdentifier: 00000000-0000-0000-0000-000000000000
                administratieNaam: string
                bedrijfsnaam: string
                contactpersoon: string
                adres: string
                postcode: string
                plaats: string
                telefoon: string
                mobieleTelefoon: string
                fax: string
                bankrekeningnummer: string
                iban: string
                bic: string
                rechtsvorm: NotSet
                btwNummer: string
                btwIdentificatieNummer: string
                kvKNummer: string
                email: string
                website: string
                vrijeTekst1: string
                vrijeTekst2: string
                vrijeTekst3: string
                vrijeTekst4: string
                huidigBoekjaar: 0
                beginmaandFiscaleBoekjaar: 0
                btwAangiftePeriodeSoort: Maand
                icpAangiftePeriodeSoort: Maand
                btwNummerFiscaleEenheid: string
                tussentijdseSuppletiesBerekenen: true
                mapUBLBestanden: string
                btwPercentageAangifteKredietbeperking: 0
                markeergedragInlezenBankafschriften: AlleenBelangrijkste
                voorkeurenTijdensBoeken: true
                aantalVoorloopnullenGrootboekrekeningen: 0
                kleineOndernemersregeling:
                  isKleineOndernemersRegelingActief: true
                  maximaalBedragVolledigeVerrekening: 0
                  maximaalBedragKleineOndernemersRegeling: 0
                volgendFactuurnummer: 0
                volgendVerkoopordernummer: 0
                volgendContantbonnummer: 0
                volgendInkoopordernummer: 0
                voorraadcontroleOrderinvoer: true
                abonnementOvernemen: true
                kolomGeleverdAutomatischVullen: true
                voorraadkolommenTonenInInkoop: true
                backorderGebruiken: true
                deelleveringOrdersDefaultAan: true
                factuurAlsBijlageVerkoopboeking: true
                tekstregelsOvernemenNaarBackorder: Geen
                regelkortingVerkooporder: BerekenenOverRegelBedrag
                drempelbedragVerkooporderbeheer: 0
                drempelbedragVerkooporderbeheerMaxDagenUitstel: 0
                verkoopprijsArtikelbestandExclusiefBtw: true
                inkoopprijsArtikelbestandExclusiefBtw: true
                artikelcodeSoort: Numeriek
                artikelcodeMaxLengte: 0
                begindatumVoorraadtelling: string
                voorraadTonenInZoekvenster: true
                aantalDecimalenArtikelprijzen: 0
                aantalDecimalenArtikelaantallen: 0
                verkooporderVoorraadVanafNiveau: Alle
                voorraadSysteem: Fifo
                momentVoorraadBijwerken: BijBoekenOntvangst
                rekeningTeOntvangenInkoopfacturen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                dagboekVoorraadverschillen:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                buitenlandseBtwGrootboek:
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
                factureerBuitenlandsBtw: true
                factureerBuitenlandsBtwRanges:
                  - from: 0
                    to: 0
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  /dagboeken:
    get:
      tags:
        - dagboeken
      summary: /v2/dagboeken (GET)
      description: "Geeft alle beschikbare dagboeken (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Dagboeken.DagboekModel\">DagboekModel</a>) terug uit een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- boekhouden:read"
      operationId: v2-dagboeken-GET
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Dagboeken-DagboekModelArray'
              example:
                - omschrijving: string
                  soort: Geen
                  nonactief: true
                  nummer: 0
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Dagboeken-DagboekModelArray-1'
              example:
                - omschrijving: string
                  soort: Geen
                  nonactief: true
                  nummer: 0
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/documenten/{id}':
    get:
      tags:
        - documenten
      summary: '/v2/documenten/{id} (GET)'
      description: "Geeft een document terug op basis van zijn {id}. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- documenten:read"
      operationId: v2-documenten-id-GET
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel">DocumentIdentifierModel</a> van het op te halen document.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
              example:
                content: string
                parentIdentifier: 00000000-0000-0000-0000-000000000000
                fileName: string
                readOnly: true
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
              example:
                content: string
                parentIdentifier: 00000000-0000-0000-0000-000000000000
                fileName: string
                readOnly: true
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    put:
      tags:
        - documenten
      summary: '/v2/documenten/{id} (PUT)'
      description: "Wijzig een document (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel\">DocumentContentModel</a>) voor een documenttype in de administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- boekhouden:write\r\n- documenten:write"
      operationId: v2-documenten-id-PUT
      parameters:
        - name: id
          in: path
          description: De identifier van het te wijzigen document.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Het te wijzigen document als <a href="#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel">DocumentContentModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
            example:
              content: string
              parentIdentifier: 00000000-0000-0000-0000-000000000000
              fileName: string
              readOnly: true
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
            example:
              content: string
              parentIdentifier: 00000000-0000-0000-0000-000000000000
              fileName: string
              readOnly: true
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel'
              example:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel'
              example:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} of {document.ParentIdentifier.ParentIdentifier} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
    delete:
      tags:
        - documenten
      summary: '/v2/documenten/{id} (DELETE)'
      description: "Verwijdert een document (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel\">DocumentContentModel</a>) voor een verkoopboeking uit een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- boekhouden:write\r\n- documenten:write"
      operationId: v2-documenten-id-DELETE
      parameters:
        - name: id
          in: path
          description: De identifier als <a href="https://docs.microsoft.com/en-us/dotnet/api/System.Guid?view=netframework-4.6.2" target="_blank">System.Guid</a> uit het <a href="#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel">DocumentIdentifierModel</a> van het te verwijderen document.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentenIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentenIdDelete200TextJsonResponse'
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {id} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/documenten/{documenttype}/{pid}':
    get:
      tags:
        - documenten
      summary: '/v2/documenten/{documenttype}/{pid} (GET)'
      description: "Geeft alle bijlagen  voor het opgegeven documenttype terug uit een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- documenten:read"
      operationId: v2-documenten-documenttype-pid-GET
      parameters:
        - name: documenttype
          in: path
          description: 'Het documenttype (mogelijke waarde: Inkoopboekingen, Verkoopboekingen of Relaties), waarvan de documenten worden opgevraagd.'
          required: true
          schema:
            type: string
        - name: pid
          in: path
          description: De identifier als <seealso cref="T:System.Guid" /> uit het <seealso cref="T:SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel" /> van document van het opgegeven DocumentType/&gt;.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Bijlagen-VerkoopBoekingBijlageReferenceModelArra'
              example:
                - verkoopBoekingId: 00000000-0000-0000-0000-000000000000
                  fileName: string
                  readOnly: true
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Bijlagen-VerkoopBoekingBijlageReferenceModelArra-1'
              example:
                - verkoopBoekingId: 00000000-0000-0000-0000-000000000000
                  fileName: string
                  readOnly: true
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {pid} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/documenten/{documenttype}':
    post:
      tags:
        - documenten
      summary: '/v2/documenten/{documenttype} (POST)'
      description: "Upload een document (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel\">DocumentContentModel</a>) voor een documenttype in een administratie. \r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- boekhouden:write\r\n- documenten:write"
      operationId: v2-documenten-documenttype-POST
      parameters:
        - name: documenttype
          in: path
          description: 'Het documenttype (mogelijke waarde: Inkoopboekingen, Verkoopboekingen of Relaties) van het op te halen document.'
          required: true
          schema:
            type: string
      requestBody:
        description: Het te uploaden document als <a href="#model-SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel">DocumentContentModel</a>.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
            example:
              content: string
              parentIdentifier: 00000000-0000-0000-0000-000000000000
              fileName: string
              readOnly: true
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          text/json:
            schema:
              $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentContentModel'
            example:
              content: string
              parentIdentifier: 00000000-0000-0000-0000-000000000000
              fileName: string
              readOnly: true
              id: 00000000-0000-0000-0000-000000000000
              uri: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel'
              example:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
            text/json:
              schema:
                $ref: '#/components/schemas/SnelStart.B2B.Api.V2.Models.Documenten.DocumentIdentifierModel'
              example:
                id: 00000000-0000-0000-0000-000000000000
                uri: string
        '400':
          description: 'HTTP 400 Bad Request, wanneer een of meer validatie regels worden geschonden.'
          content:
            application/json: { }
            text/json: { }
        '404':
          description: 'HTTP 404 Not Found, wanneer een niet-bestaande {document.ParentIdentifier.ParentIdentifier} wordt meegegeven.'
          content:
            application/json: { }
            text/json: { }
        '403':
          description: Indien niet de juiste scopes in het token aanwezig zijn.
          content:
            application/json: { }
            text/json: { }
  '/echo/{input}':
    get:
      tags:
        - echo
      summary: '/v2/echo/{input} (GET)'
      description: 'Test de SnelStart B2B Api door de {input} terug te geven. '
      operationId: v2-echo-input-GET
      parameters:
        - name: input
          in: path
          description: De terug te geven tekst (optioneel).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoInputGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EchoInputGet200TextJsonResponse'
        '204':
          description: 'HTTP 204 OK No Content, wanneer {input} leeg is.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoInputGet204ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EchoInputGet204TextJsonResponse'
  /grootboeken:
    get:
      tags:
        - grootboeken
      summary: /v2/grootboeken (GET) (OData)
      description: "Geeft alle beschikbare grootboeken (<a href=\"#model-SnelStart.B2B.Api.V2.Models.Grootboeken.GrootboekModel\">GrootboekModel</a>) terug uit een administratie. \r\nOp deze operatie is OData functionaliteit beschikbaar.\r\nVoor deze operatie zijn de volgende scopes benodigd:\r\n- boekhouden:read"
      operationId: v2-grootboeken-GET-OData
      parameters:
        - name: $skip
          in: query
          description: Het aantal resultaten dat overgeslagen wordt.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: $top
          in: query
          description: Het maximum aantal resultaten.
          schema:
            maximum: 500
            minimum: 1
            type: integer
            format: int32
            default: 500
        - name: $filter
          in: query
          description: 'OData filter, zie http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_SystemQueryOptionfilter'
          schema:
            type: string
      responses:
        '200':
          description: HTTP 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnelStart-B2B-Api-V2-Models-Grootboeken-GrootboekModelArray'
              example:
                - modifiedOn: string
                  omschrijving: string
                  kostenplaatsVerplicht: true
                  rekeningCode: Balans
                  nonactief: true
                  nummer: 0
                  grootboekfunctie: Diversen
                  grootboekRubriek: string
                  rgsCode:
                    - versie: string
                      rgsCode: string
                  btwSoort:
                    - Geen
                  vatRateCode: string
                  id: 00000000-0000-0000-0000-000000000000
                  uri: string
            text/json:
              schema:
[...]
